<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ThemeMode" value="LightMode"/>
		<add key="Language" value="简体中文"/>
		<add key="connStr" value="Server=154.201.64.195;Database=cloudtrade;uid=sa;pwd=Wuhuize1.;TrustServerCertificate=True"/>
	</appSettings>
</configuration>